/* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.neon-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #4CC2FF;
    text-transform: uppercase;
    text-shadow: 0 0 5px #4CC2FF, 0 0 10px #4CC2FF, 0 0 20px #4CC2FF, 0 0 40px #7649D4, 0 0 80px #7649D4;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 1;
        text-shadow: 0 0 5px #4CC2FF, 0 0 10px #4CC2FF, 0 0 20px #4CC2FF, 0 0 40px #7649D4, 0 0 80px #7649D4;
    }
    100% {
        opacity: 0.8;
        text-shadow: 0 0 5px #4CC2FF, 0 0 15px #4CC2FF, 0 0 25px #4CC2FF, 0 0 50px #7649D4, 0 0 100px #7649D4;
    }
}